@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.image-container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    transition: 0.3s;
}


@media only screen and (max-width: 600px) {
    .image-container {
        height: 60vh;
    }

}

@media only screen and (max-width: 450px) {
    .image-container {
        height: 40vh;
        justify-content: center;
        align-items: end;
        font-size: 13px;
        text-align: center;
    }

    .text-area {
        display: none;
    }
}